<!DOCTYPE html>

<!--  this is the about page-->

<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1,width=width-device" />
        <title>About Page</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body class="medium center">
        <p
            class="center extralarge fa-envelope-open-text"
            style="padding-top: 200px"
        >
            This is a website to register for a sport club.
        </p>
    </body>
</html>
