<!DOCTYPE html>

<!--  this is the confirmation for register-->

<html lang="en-us">
    <head>
        <meta name="viewport" content="initial-scale=1,width=width-device" />
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body class="grey center">
        <h1 style="color: antiquewhite">
            Registration failed because {{message}} Try again here:
        </h1>
        <a href="/register">Try to register again. </a><br />
        <a href="/">HOME PAGE </a><br />
    </body>
</html>
