<!DOCTYPE html>

<!--  with this form we are going to store the name and the sport for each user-->

<html lang="en-us">
    <head> 
        <meta name="viewport" content="initial-scale=1,width=width-device">
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/main.css"  />
    </head>
    <body class = "light-mode" id = "dark_mode"> 
        <h1 class="extralarge center "> Register Here</h1>

        </form>
        <p class="extralarge center" > Enter your name and sport please: </p>

        <form style="display: contents;" action = "/register" method="post"> 

            <input class="large" style="margin-left: 80px;" autocomplete="off" autofocus placeholder="Name" name="name" type = "txt">

            <label style = "font-size: x-large;" for="sport">Sport:</label> 
            <select  name="sport" class="large">
                <option value="Football">Football </option>
                <option value="Basketball">Basketball</option>
                <option value="Tennis">Tennis</option>
            </select>
            <input class="large" type = "submit" value="Register"> 
        </form>

        <button class="button"  onclick="dark_mode();">Dark Mode</button>

		<script>
			function dark_mode() {
				const element = document.getElementById("dark_mode");
				element.classList.toggle("dark-mode"); // this will toggle the class light-mode to dark-mode
			}
		</script>
    </body>
</html>
